extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body
		+header

		section
			h3 Para começar, que tal fornecer as informações para aparecer no nosso ranking?
			form(action="" method="")
				.input-wrapper
					label(for="nome") 
						p Nome: 
					input(type="text")
				.input-wrapper
					label(for="email") 
						p E-mail: 
					input(type="mail")
				.input-wrapper
					label(for="empresa") 
						p Empresa: 
					input(type="text")
				.flex
					.boxInput
						input.check(type="checkbox")
					p Quero receber as informações da Febraban Educação.
				input.cad(type="submit" value="CADASTRAR")
		
		footer
			button
				p Menu
		
block scripts
	script(src="script.js")