extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body
		+header

		section
			h3 Para começar, que tal fornecer as informações para aparecer no nosso ranking?
			.form
				.input-wrapper
					label(for="nome") 
						p *Nome: 
					input#name(type="text")
					small.alertName Preencha o nome. 
				.input-wrapper
					label(for="email") 
						p *E-mail: 
					input#email(type="mail")
					small.alertEmail E-mail invalido.
				.input-wrapper
					label(for="empresa") 
						p Empresa: 
					input#empresa(type="text")
				.flex
					.boxInput
						input.check(type="checkbox")
					p Quero receber as informações da Febraban Educação.
				
				button.cadastro
					h2 Cadastro
		
		footer
			button(onclick='navigate.goto("02_menu")')
				p Menu
		
block scripts
	script(src="script.js")