extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body#app
		+header

		.gameBase 
			.info
				div
					//- span.label Time:
					span.value {{ time }} 
				//- div
				//- 	span.label Turns:
				//- 	span.value {{ turns }} 
			.cards
				.card(v-for="card in cards", :class="{ flipped: card.flipped, found: card.found }", @click="flipCard(card)")
					.back
					.front(:style="{ backgroundImage: 'url(' + card.image + ')' }")

			.splash(v-if="showSplash")
				.overlay
				.content
					.title You won!
					.score Score: {{ score }}
					button.newGame(@click="resetGame()") New game
		
		footer
			//- button
				p Menu
		
block scripts
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.12.0/lodash.min.js"></script>
	//- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
	script(src="script.js")