extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body
		+header

		+topgame('Qual é a Certificação?')
		
		+footer 
		
block scripts
	script(src="script.js")