extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body
		+header
		+topgame('Qual é a Certificação?')

		.gameBase
			.dica
				.indice 
				.text É um importante instrumento de controle e governança nas instituições financeiras, auxiliando na identificação e prevenção de irregularidades.
			.cards
				.card
					.front
					.back
						span P 
				.card
					.front
					.back
						span A
				.card
					.front
					.back
						span T 
				.card
					.front
					.back
						span A
							
			
			.keyBase
				.keyboard-row.row-1
					#key-q.key
						span Q
					#key-w.key
						span W
					#key-e.key
						span E
					#key-r.key
						span R
					#key-t.key
						span T
					#key-y.key
						span Y
					#key-u.key
						span U
					#key-i.key
						span I
					#key-o.key
						span O
					#key-p.key
						span P
					
				.keyboard-row.row-2
					#key-a.key
						span A
					#key-s.key
						span S
					#key-d.key
						span D
					#key-f.key
						span F
					#key-g.key
						span G
					#key-h.key
						span H
					#key-j.key
						span J
					#key-k.key
						span K
					#key-l.key
						span L
					
				.keyboard-row.row-e
					#key-z.key
						span Z
					#key-x.key
						span X
					#key-c.key
						span C
					#key-v.key
						span V
					#key-b.key
						span B
					#key-n.key
						span N
					#key-m.key
						span M
					

			
			

		+footer 
		
block scripts
	script(src="script.js")