@import '../../less/includes/colors.less';
@import '../../less/includes/fonts.less';

.body {
    background-color: @color-02;
    position: relative;
    .boxTop {
        height: 26em;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url(../../assets/img/topogame.jpg);
        background-size: cover;
        padding: 0 18em;
        .top {
            width: 100%;
        }
        .title {
            color: @color-02;
            font-size: 5em;
            text-transform: uppercase;
            width: min-content;
        }
        .info {
            display: flex;
            align-items: center;
            gap: 2em;
            .timer {
                width: 6.5em;
            }
            .value {
                color: @color-white;
                font-size: 3em;
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        background-color: @color-black;
        width: 100%;
        height: 7.7em;
    }

}