extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body
		+header

		.boxTop
			h2.title Caça <br>Palavras
			.info
				+image('time.png', 'timer')
				span.value {{ time }} 
				//- div
				//- 	span.label Turns:
				//- 	span.value {{ turns }} 
		
		+footer 
		
block scripts
	script(src="script.js")