@import '../../less/includes/colors.less';
@import '../../less/includes/fonts.less';

.body {
    background-color: @color-03;
    position: relative;

    footer {
        &::before {
            background-color: @color-02;
        }
    }
}

.containerParent{
    position: relative;
    width: 92em;
    top: 5.8em;
    margin: 0 auto;
}

