extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body
		h2.text Aproveite para interagir com a nossa equipe e ouvir os insights dos nossos especialistas.
		button.init
			p INICIAR
		
block scripts
	script(src="script.js")